<h1>Puppergram</h1>

<% @puppers.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |pupper| %>
      <div class="col-md-4">
        <%= image_tag pupper.picture_url(:thumb) if pupper.picture.present? %>
        <h4><%= link_to pupper.name, pupper %></h4>
        <%= pupper.description %>
      </div>
    <% end %>
  </div>
<% end %>
</div>
<br>